<%= form_with(model: @character, local: true) do |f| %>

  <%= f.hidden_field :actor_id, value: @actor.id %>

  <div class="form-group">
    <%= f.label :movie_id %>

    <%= f.collection_select :movie_id, Movie.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :character_title %>

    <%= f.text_field :character_title, class: "form-control" %>
  </div>

  <%= f.submit "Create character", class: "btn btn-block btn-outline-secondary" %>
<% end %>
