<% was_validated = movie.errors.any? %>

<%= form_with(model: movie, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% movie_photo_class = "form-control" %>
    <% movie_photo_was_invalid = movie.errors.include?(:movie_photo) %>

    <% if was_validated %>
      <% if movie_photo_was_invalid %>
        <% movie_photo_class << " is-invalid" %>
      <% else %>
        <% movie_photo_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_photo %>
    <%= f.file_field :movie_photo, class: "form-control" %>
    <% if movie_photo_was_invalid %>
      <% movie.errors.full_messages_for(:movie_photo).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% movie_title_class = "form-control" %>
    <% movie_title_was_invalid = movie.errors.include?(:movie_title) %>

    <% if was_validated %>
      <% if movie_title_was_invalid %>
        <% movie_title_class << " is-invalid" %>
      <% else %>
        <% movie_title_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_title %>
    <%= f.text_field :movie_title, class: movie_title_class, placeholder: "Enter movie title" %>
    <% if movie_title_was_invalid %>
      <% movie.errors.full_messages_for(:movie_title).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% release_year_class = "form-control" %>
    <% release_year_was_invalid = movie.errors.include?(:release_year) %>

    <% if was_validated %>
      <% if release_year_was_invalid %>
        <% release_year_class << " is-invalid" %>
      <% else %>
        <% release_year_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :release_year %>
    <%= f.text_field :release_year, class: release_year_class, placeholder: "Enter release year" %>
    <% if release_year_was_invalid %>
      <% movie.errors.full_messages_for(:release_year).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% duration_class = "form-control" %>
    <% duration_was_invalid = movie.errors.include?(:duration) %>

    <% if was_validated %>
      <% if duration_was_invalid %>
        <% duration_class << " is-invalid" %>
      <% else %>
        <% duration_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :duration %>
    <%= f.number_field :duration, class: duration_class, placeholder: "Enter duration" %>
    <% if duration_was_invalid %>
      <% movie.errors.full_messages_for(:duration).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% movie_description_class = "form-control" %>
    <% movie_description_was_invalid = movie.errors.include?(:movie_description) %>

    <% if was_validated %>
      <% if movie_description_was_invalid %>
        <% movie_description_class << " is-invalid" %>
      <% else %>
        <% movie_description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_description %>
    <%= f.text_field :movie_description, class: movie_description_class, placeholder: "Enter movie description" %>
    <% if movie_description_was_invalid %>
      <% movie.errors.full_messages_for(:movie_description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% director_class = "form-control" %>
    <% director_was_invalid = movie.errors.include?(:director) %>

    <% if was_validated %>
      <% if director_was_invalid %>
        <% director_class << " is-invalid" %>
      <% else %>
        <% director_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :director_id %>
    <%= f.collection_select :director_id, Director.all, :id, :to_s, {}, class: "form-control" %>
    <% if director_was_invalid %>
      <% movie.errors.full_messages_for(:director).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
