<%= form_with(model: @movie, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :movie_photo %>

    <%= f.file_field :movie_photo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :movie_title %>

    <%= f.text_field :movie_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :release_year %>

    <%= f.text_field :release_year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :duration %>

    <%= f.text_field :duration, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :movie_description %>

    <%= f.text_field :movie_description, class: "form-control" %>
  </div>

  <%= f.hidden_field :director_id, value: @director.id %>

  <%= f.submit "Create movie", class: "btn btn-block btn-outline-secondary" %>
<% end %>
